body{
    background-image: linear-gradient(to right, rgb(7, 135, 221), rgb(4, 36, 66));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    padding: 10px;
    background-color: rgba(17, 17, 17, 0.76);
}
nav p {
    color: whitesmoke;
    margin-left: 10px;
    font-family: 'Architects Daughter', cursive;
    font-weight: 600;
}
.flex {
    display: flex;
    justify-content: flex-start;
}